@import url('https://fonts.googleapis.com/css?family=Merriweather|Poppins&display=swap');
*{
  font-family: 'Poppins',sans-serif;

}
.main{
  height: device-height;
  width: device-width;
}

.title{
  display: flex;
  align-items:center;
  justify-content:space-between;
  background: #FED766;

}
.title h1{
font-size: 2rem;
}
.subt{
  font-size: 0.8rem;
}
.quoteparent{
  display: flex;
    height: 69vh;
    width: device-width-1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EFF1F3;
}
.qb{

      height: 60vh;
      width: 90vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
#human{

    height: 200px;
    width: 200px;
}
#quoter{

  background:white;
  font-family: 'Merriweather',serif;
  line-height: 140%;
    min-height:100px;
    max-width:90vw;

    padding: 15px;
}
#who{
  z-index: 10;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer{
  display: flex;
  height: 10vh;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: flex-end;
  background: #272727;
  color: white;
}
.button{
  border-radius: 6px;
  height: 40px;
  width: 100px;
  border: 2px solid #56E39F;
  background: white;

}
.button:hover{
  border-radius: 6px;
  border: 2px solid white;
  background: #56E39F;
}
.whatsapp{
  display: none;

}

.whatsapp.activeWhatsapp{
  display:inline-block;
}
@media only screen and (max-width:600px) {
  .title{
    flex-direction: column;
  }
  .subt{
    display: none;
  }
}
